ul {
  list-style: none;
}

.navbar {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  /* right: 5rem;
    top: 2rem; */
  /* transform: translate(+50%, -50%); */
}

.list {
  position: fixed;
  z-index: 100;
  right: 0;
  top: -2rem;
  display: none;
  flex-direction: column;
  width: 70vw;
  height: 85vh;
  background-color: var(--ternary-color);
}

.item {
  padding: 1rem 0;
}

.list > .item:first-of-type {
  margin-top: 5rem;
}

.navbar a {
  text-decoration: none;
  padding: 0 2rem;
  display: block;
  text-align: right;
}

.dropdown > a:focus,
.navbar a:hover {
  font-weight: bold;
}

.navbar svg {
  position: absolute;
  cursor: pointer;
  /* display: none; */
}

.navbar svg:first-of-type {
  /* display: none; */

  top: 1rem;
  right: 1rem;
  z-index: 101;
}

.navbar svg:last-of-type {
  /* display: none; */
  top: 2rem;
  right: 2rem;
  z-index: 101;
  /* animation: showHamburger 1.5s ease-out backwards 1s 1; */
}

/* @keyframes showHamburger {
  from {
    top: -2rem;
  }
  to {
    top: 2rem;
  }
} */

.show-menu {
  display: block;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  opacity: 0;
  opacity: 0.1;
  transform: translateX(13rem);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.dropdown > a:focus + .dropdown-menu {
  opacity: 1;
  transform: translateX(0);
}
.dropdown-menu a {
  padding: 1rem;
  background-color: rgb(64, 224, 208);
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navbar svg {
    display: none;
  }
  .list {
    flex-direction: row;
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
    height: 5rem;
    margin-top: 3rem;

    /* animation: showMenu 1.5s ease-out backwards 3s 1; */
  }
  /* @keyframes showMenu {
    from {
      top: -7rem;
    }
    to {
      top: -2rem;
    }
  } */
  .list > .item:first-of-type {
    margin-top: 0;
  }
  .navbar a {
    padding: 0 2rem;
    text-align: left;
  }
  .dropdown-menu a {
    padding: 1rem;
    background-color: rgba(64, 224, 208, 0.75);
    text-align: center;
  }
  .item {
    padding: 0.2rem 0;
  }

  .dropdown-menu {
    top: 3rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1rem);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .dropdown > a:focus + .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
